body{
  margin-top: 0;
  font-family: helvetica;
}
main {

}
.container{
  min-width: 1200px;
  text-align: center;
}
.navBar{
  background-color: #f5f5f5;
  display: flex;
  align-items: baseline;
  padding: 0 0 10px 0;
}
.navBar img{
  padding-top: 10px;
  width: 36px;
  height: 36px;
}
.navBar a{
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    text-decoration: none;
}
.navBar div{
  width: 3000px;
}

.profileBar{
  float: left;
  text-align: left;
}
.profileBar img{
  width: 166px;
  height: 166px;
}
.organizations{
  display: flex;
}
.organizations img{
  width: 36px;
  height: 36px;
}
